@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

#page {
  width: 80vw;
  background: whitesmoke;
  margin: 2% auto;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

section {
  padding: 1vw;
}

.header,
.main,
.footer {
  margin: 0 auto;
}

.header {
  padding: 2vw;
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  color: white;
}

.header__section-avatar {
  margin: 0 auto;
  max-width: 45vw;
}

.div-avatar__img-photo {
  max-width: 12vw;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.contact-details {
  position: relative;
  top: 2vw;
  background: rgb(0,0,0);
  color: white;
  border: 1px solid white;
  text-align: center;
  margin: auto;
  padding: 1vw;
  font-size: 1vw;
}


h1 {
  font-size: 4vw;
  text-transform: uppercase;
  margin: 1vw 0;
  color: white;
}

.div-socials{
  margin-top: 2vw;
}
.div-socials a{
  padding: 2vw;
}
h3,
h4 {
  margin-bottom: 1vw;
  font-weight: bold;
}

/* Titles of categories */
h3 {
  margin-bottom: 1vw;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

/* There is a bar just before each category */
h3:before {
  content: "";
  display: inline-block;
  margin-right: 1%;
  width: 16vw;
  height: 10px;
  background-color: rgb(0, 0, 0);
}

h3:hover {
  background-color: rgb(0, 0, 0);
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #333;
}

.main{
  text-align: left;
}
.main section:not(:last-child) {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
} 

a .fab {
  color: white;
}

.course,
.div-skills {
  display: flex;
  flex-wrap: wrap;
}

.course .title {
  color: rgb(0, 0, 0);
  flex: 0 0 30%;
  max-width: 30%;
}

.course .div-description {
  flex: 0 0 60%;
  max-width: 60%;
}

.course .div-description p {
  padding-left: 1em;
}

.div-skills .div-column {
  flex: 0 0 50%;
  max-width: 50%;
}

.div-skills .div-column ul,
ul.job-description {
  list-style-type: none;
  margin-bottom: 1vw;
}

.div-skills .div-column ul>li:before {
  content: "-";
  padding-right: 0.5em;
  color: rgb(0, 0, 0);
}

.div-school,
.div-job-title a{
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}


.div-school__span,
.div-job-title__span {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  margin-right: 20px;
}

ul.job-description li:before {
  content: "+";
  padding-right: 0.5em;
  color: rgb(0, 0, 0);
}

.footer {
  padding: 1em 1.5em;
  background: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
